<h1><%= @nanny.nanny_name %> Profile</h1>
<!-- TODO: show picture -->
<ul>
  <li>Name: <%=@nanny.nanny_name%></li>
  <li>Address: <%= @nanny.address %></li>
  <li>Email: <%= @nanny.email %></li>
  <li>Phone number: <%= @nanny.phone_number %></li>
  <li>Years of experience: <%= @nanny.years_of_experience %></li>
  <li>Price per hour: £<%= @nanny.price_per_hour %></li>
</ul>

<h3>Reviews</h3>
<% if @nanny.reviews %>
  <p><%= @nanny.nanny_name %> has no reviews yet</p>
<% else %>
  <ul>
    <% @nanny.reviews.each do |review| %>
      <li><%= review.content %> | <%= review.stars %></li>
    <% end %>
  </ul>
<% end %>
