<div class = "container">
  <div class="row">
    <div class="col-sm-4">
      <div class="shadow-sm p-3 mb-5 bg-white nanny-profile-card">
        <div class="row">
          <div class="nanny-avatar-container">
            <%= image_tag @nanny.image, alt: "alttext", class: "nanny_avatar" %>
          </div>
        </div>
        <class class="card p-3 mt-3 mb-3 border border-white">
          <p class="text-center"><strong>Years of experience:</strong> <%= @nanny.years_of_experience %></p>
          <p class="text-center"><strong>Price per hour: </strong>£<%= @nanny.price_per_hour %></p>
          <div class="col text-center">
            <p><strong><%= link_to "Book Now", new_nanny_booking_path(@nanny), :class => "btn btn-flat" %></strong></p>
          </div>

        </class>
      </div>
    </div>
    <div class="col-sm-8 mt-3">
        <h1> Hi, I'm <%= @nanny.nanny_name %></h1>
        <br>
        <i class="fas fa-quote-left" style="color:#EBEBEB"></i>
        <p class = "font-italic" ><%= @nanny.bio %>.</p>
        <i class="fas fa-highlighter" style="color:#EBEBEB"></i>
        <br>
        <br>
        <p><i class="fas fa-home" style="color:#484848">&nbsp;</i><%= @nanny.address %></p>
        <p><i class="fas fa-envelope-open-text" style="color:#484848">&nbsp;</i><%= @nanny.email %></p>
        <p><i class="fas fa-mobile-alt"style="color:#484848">&nbsp;&nbsp;</i><%= @nanny.phone_number %></p>
        <br>
        <h3>Reviews</h3>
        <% if @nanny.reviews.empty? %>
          <p><%= @nanny.nanny_name %> has no reviews yet</p>
        <% else %>
          <ul>
            <% @nanny.reviews.each do |review| %>
            <li><%= review.content %> | <%= '*' * review.stars %></li>
            <% end %>
          </ul>
        <% end %>
    </div>
  </div>
</div>






  <!-- TODO: show picture, add bio -->






