

  <div class= "row align-items-center justify-content-center">

    <div class= "col-sm-4">
      <%= image_tag "hire-a-nanny-logo.png", :class => "nanny-booking-logo" %>
    </div>

    <div class= "col-sm-4">
      <%= simple_form_for booking do |f| %>
        <%= f.input :nanny_id, as: :hidden, input_html: { value: @nanny.id } %>
        <%= f.input :start_date, as: :string %>
        <%= f.input :end_date, as: :string %>
        <%= f.input :address %>
        <%= f.input :number_of_children %>
      <%= f.submit "Book now!", class: "btn-flat" %>
      <% end %>
    </div>

    <div class= "col-sm">
      <%= image_tag @nanny.image, :class => "nanny-booking-avatar" %>
    </div>
  </div>
