<h1>Your Bookings!</h1>

<ul>
  <% @bookings.each do |booking| %>
     <li> You have booked <%= booking.nanny.nanny_name %> for <%= booking.duration %> hours, on <%= booking.start_date %> | <%= link_to 'View booking', booking_path(booking) %></li>
  <% end %>
</ul>

<p><%= link_to 'Create a new booking', nannies_path %> </p>
