<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Your Bookings</h1>
    <p><%= link_to 'Add a new booking', nannies_path, :class => "btn btn-flat booking-btn-flat" %> </p>
  </div>


  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <%= image_tag booking.nanny.image, alt: "Picture of the nanny" %>
      <div class="card-product-infos">
        <h2>Nanny: <%= booking.nanny.nanny_name %></h2>
        <p><%= booking.start_date.strftime("Date: %d/%m/%y") %> </p>
        <p><%= booking.start_date.strftime("Time: %I:%M%p") %> </p>
        <%= link_to 'View booking', booking_path(booking), :class => "link" %>
      </div>
    </div>
  <% end %>

</div>


