<h1>Your booking with <%= @booking.nanny.nanny_name %></h1>

<div class="container">
  <h3>Details</h3>

  <p>Start date: <%= @booking.start_date %></p>
  <p>End date: <%= @booking.end_date %></p>
  <p>Address: <%= @booking.address %></p>
  <p>Duration: <%= @booking.duration %></p>
  <p>Number of children: <%= @booking.number_of_children %></p>
  <p>Price: <%= @booking.total_price %></p>
  <br>

  <!-- Display booking review, if it exists. If not, display link to add a review-->
  <h4>Your review of this booking</h4>
  <% if @booking.review %>
    <%= '*' * @booking.review.stars %>
    <p><%= @booking.review.content %></p>
  <% else %>
    <p>You haven't reviewed this booking yet</p>
    <p><%= link_to 'Add a review', new_booking_review_path(@booking) %></p>
  <% end %>
  <br>


  <p><%= link_to 'Edit this booking', edit_booking_path(@booking) %></p>

  <p><%= link_to 'Delete this booking', booking_path(@booking),
            method: :delete,
            data: {confirm: "Are you sure?"} %></p>
  <p><%= link_to 'Review your experience', new_booking_review_path(@booking) %></p>

  <p><%= link_to 'Back to your bookings', bookings_path %></p>
</div>
